:root {
    background-color: #121211;

    box-sizing: border-box;
}

body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    position: relative;
}

#container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    z-index: 10;
    pointer-events: none;
}

/* bottom-right corner */
#container::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    z-index: 10;
    pointer-events: none;
}
